<!DOCTYPE html>
<html>
  <head>
    <title>WebSockets of Life</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel='stylesheet' href='/stylesheets/octicons.css' />
  </head>
  <body>
    <header>
        <h1>WebSockets of Life</h1>
        <a href="https://github.com/TheIronDeveloper/websocket-of-life">
            <i class="mega-octicon octicon-mark-github"></i>
        </a>
        <a href="http://www.theirondeveloper.com/"><i class="mega-octicon octicon-squirrel"></i></a>
        <p>This is a proof of concept build of Conway's game of life made using websockets.</p>
        <p>The server calculates and generates the next board, and the client draws whatever the server tells it to.</p>
    </header>

    <canvas id="gameOfLife" class="GoL_full" width="800" height="500"></canvas>

    <section id="broadcastedMessages" class="broadcastedMessages"></section>
    <!-- Exposing a global io variable -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/bundles/server.js"></script>
  </body>
</html>
