<!DOCTYPE html>
<html>
  <head>
    <title>WebSockets of Life</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>WebSockets of Life</h1>
    <canvas id="gameOfLife"></canvas>
    <script src="/javascripts/bundle.js"></script>
  </body>
</html>
