<!DOCTYPE html>
<html>
  <head>
    <title>WebSockets of Life</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Game of Life</h1>
    <p>This is a simpler version of game of life that does not involve a client-server communication.</p>

    <canvas id="gameOfLife" class="GoL_full"></canvas>

    <script src="/javascripts/bundles/client.js"></script>
  </body>
</html>
